@*@{
    ViewBag.Title = "Index";
}
*@
<div class="area">
    <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="Index">Patient</a>

</div>

<div class="area">
    <a class="nav-link text-dark" asp-area="" asp-controller="Doctor" asp-action="Index">Doctor (Manager)</a>
    @* <a href="./Doctor"><span>Doctor</span></a>*@
</div>
