<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/meniu.css">
    <link rel="stylesheet" type="text/css" href="~/css/aboutSection.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <div>
        <h1 style="align-items: center; color: aliceblue;text-align: center; margin: 5%">Wheels</h1>
        <p style="color: aliceblue; padding-left: 10%; padding-right: 10%; align-items: center; text-align: center;">We are not wondering why you are here.Well, we have the perfect solution for you!!!</p>
        <p style="color: aliceblue;padding-left: 10%; padding-right: 10%; text-align: center;">
            Here you can see our prices and if ypu want more details you can contact us   <span>
                <a asp-area="" asp-controller="Contact" asp-action="Index">here.</a>
                </a>
            </span>
        </p>
    </div>
    <div style="align-items: center; text-align: center;">
        <img src="~/Images/Since 1999.png" id="center" style="height: 70%; width: 90%; padding-left: 10%; padding-right: 10%; align-items: center;">
    </div>

    <div style="padding-left: 10%; padding-right: 10%;">
        <h1 style="color: aliceblue;">List of prices for tires (workmanship included)</h1>
        <dl>
            <dt style="color: aliceblue;">Small </dt>
            <dd style="color: aliceblue; "> - winter season: 80 RON /wheel</dd>
            <dd style="color: aliceblue;"> - summer season: 100 RON/wheel</dd>
            <dt style="color: aliceblue;">Medium </dt>
            <dd style="color: aliceblue;"> - winter season: 120 RON /wheel</dd>
            <dd style="color: aliceblue; "> - summer season: 160 RON/wheel</dd>
            <dt style="color: aliceblue;">SUV</dt>
            <dd style="color: aliceblue;"> - winter season: 200 RON /wheel</dd>
            <dd style="color: aliceblue;"> - summer season: 240 RON/wheel</dd>
        </dl>
    </div>

    <div style="padding-left: 10%; padding-right: 10%;">
        <h1 style="color: aliceblue;">Other services:</h1>
        <dl>
            <dt style="color: aliceblue;">Vulcaniation: 70 RON / wheel</dt>
            <dt style="color: aliceblue;">Balancing: 50 RON / wheel</dt>
        </dl>
    </div>

</body>
</html>