<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/meniu.css">
    <link rel="stylesheet" type="text/css" href="~/css/aboutSection.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: black;">

    <div class="about-section" style="padding-right: 10%; padding-left: 10%; font-size: xx-large; text-align: center;">
        <h1 style="color: paleturquoise; text-align: center;" >WHO ARE WE?</h1>
        <p style="color: aqua; font: optional;">
            Hello there!
        </p>
        <p style="color: paleturquoise; font: optional;">
            As our title suggests, the scope of this section is a allowing us explain the way our services could help you.
        </p>
        <p style="color: paleturquoise; font: optional;">
            First of all, let us present ourselves:
        </p>
        <p style="color: paleturquoise; font: optional;">
            The Company is named AUTORUN SERVICE CENTER SRL, and it was founded in the year 2021, in Bucharest. Being a new enterprise in a big city, the concurrency level is high. Based on the data from the Trade Register and the Ministry of Public Finance, in Romania there are over 15,000 companies whose object of activity is “Maintenance and repair activities of motor vehicles”. Most of them are located in Bucharest (1,682). However, fiscal value of the service was 173919 RON in 2021, which places us in the first half of the average turnover of an auto service.
        </p>
        <p style="color: aqua; font: optional;">
            What we do?
        </p>
        <p style="color:paleturquoise ;">
            We make quality works on cars, vans and oldtimers, any make or model. From classic paints and corrections, to bold projects and special colors, nothing puts us in trouble.
        </p>
        <p style="color:aqua ;">Our vision </p>
        <p style="color:paleturquoise ;">
            Regardless of the problem with your car, you have come to the right place.
        </p>
        <p style="color:paleturquoise ;">
            Our team consists of car engineers and mechanics with extensive experience gained both in Romania and in car services in Europe. We have gathered all this knowledge to offer services at the highest quality standards, so that your car has a life as long as possible, in perfect operating conditions.
        </p>
        <p style="color:paleturquoise ;">We all know that everything will be soon automatized.From waitress/waitresses to even robots that can entertain us. Lots or jobs will be lost forever , once the tech indudstry will rise as the time passes by. But one thing is certain, that creativity will still be needed. This is why we keep evolving, always providing the best services to our clients. Here are some of the new services that we implemented:</p>

        <p style="color: paleturquoise;">
            We want to implement a new type of service, which is very popular in the outside countries. We are talking about the emergency help system, that helps you when suddenly getting into trouble. Let's suppose that you are driving on a distant road, or in a very crowded one. Suddenly, your car stops, in the worst moment that was possible, and you have no idea how you can solve the issue. You need urgent maintenance, but you definitely cannot arrive to a service.
        </p>
        <p style="color: paleturquoise;">
            Here, in our service, you can immediately access the web application, log in to your account, acces the "emergency call" section and send us your current location, so we can imediately find you and send a prepared team there, that will get you out of the trouble.
        </p>
        <p style="color: paleturquoise;">Some other new feature that we bring, is the possibilitiy of directly creating an online appointment at the service, using the dedicated section of the application. No more calls and lots of confirmations to give and receive; everything is simple and clear. You only need to log in, choose a time from the available displayed ones, press "make appointment" and confirm the selection. Creating an appointment was never simpler!</p>
        <p style="color: paleturquoise;">One more special service available for our clients! If movement is to difficult or costly for you, we may solve your problem from home. What does it mean? After logging in to your client account, use the Remote Repair service, and take photos describing your problem, which will be sent together with the description of it. By directly discussing to the service's support, some o your wishes can be fulfilled without the need of a ohysical interaction.</p>
    </div>

    <h2 style="text-align:center; color:aqua;  font-family: 'Brush Script MT', cursive;">For any other supplementary information, don't hesitate to contact us, by clicking the button below:</h2>

    <p style="text-align:center; font-family: 'Brush Script MT', cursive;"><button class="button" > <a style=" color:black;" href="https://mail.google.com/mail/u/0/?fs=1&to=OFFICE@AUTO-RUN.RO&su=ClientContactingAutoRunService&body=&bcc=&tf=cm">       Contact us !      </a> </button></p>

@*    <div class="row" style="align-items: center;">

        <div class="column">
            <div class="card">
                <img src="~/Images/Larisa.png" alt="Larisa" style="height:500px;  padding-left: 15%; padding-right: 15%; text-align: center; align-items: center;">
                <div class="container2" style="padding-left: 15%;">
                    <h2 style="color: aqua; ">Larisa Visan</h2>
                    <p class="title" style="color: aqua;">CEO & founder</p>
                    <p style="color: aqua;">I am Larisa and I am 21. I work hard to make my dreams come true.And this is one of them:to open my business and give some value to the world we live in.</p>
                    <p style="color: aqua;">visanlarisa19@stud.ase.ro</p>
                    <p><button class="button" style="color: aqua;"> <a style="color: aqua;" href="https://mail.google.com/mail/u/0/?fs=1&to=visanlarisa19@stud.ase.ro&su=ClientContactingAutoParadise&body=&bcc=&tf=cm">Contact</a> </button></p>
                </div>
            </div>
        </div>
    </div> *@

</body>
</html>